@import './variables.scss';

.DynamicIsland{
    width: 87px;
    height: $diHeight;
    background-color: black;
    border-radius: 13px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: $diTop;

    transition: .5s ;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .extendedContainer{
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
            width: 26px;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .left{
            img{
                width: 80%;
                height: 80%;
                border-radius: 50%;
            }
        }
        .right{
            img{

            }
        }
    }

    .faceIdImgContainer{
        width: 70%;
        height: 70%;

        img{
            width: 100%;
            height: 100%;
        }
    }

}