.IconsPlace{
    min-height: 100px;
    width: 100%;
    flex-grow: 1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 17px;
    padding: 19px;
    box-sizing: border-box;


}