@import './variables.scss';

.Screen{
    width: 270px;
    height: 590px;
    background-color: rgba(255, 255, 255, 0.245);
    border-radius: 38px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    

   


    div{
        z-index: 1;
    }

    .appsSpace{
        width: 100%;
        height: calc(100% - calc(calc($diTop*2) + $diHeight));
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .wallpaper{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: rotate(180deg);
        }
    }
}